label {
  margin: 0.4rem 0;
  font:
    1rem 'Fira Sans',
    sans-serif;
}

p {
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input {
  font-size: medium;
  margin: 0.4rem 0.1rem;
}

.padding-top-10 {
  padding-top: 1rem;
}

.padding-left-10 {
  padding-left: 1rem;
}

.buttons-container {
  padding-top: 1rem;
  display: flex;
  margin: 1rem;
}

.left{
  float:left;
}

.right{
  float:left;
  margin-left: 1rem;
}
