<!--<div class="grid">-->
<!--  <div >-->
<!--    <app-video-list [videoList]="videoListData ?? []" (videoChanged) = handleVideoChanged($event)></app-video-list>-->
    <app-video-list [videoList]="(videoListData | async) ?? []" (videoChanged) = handleVideoChanged($event)></app-video-list>
<!--  </div>-->
<!--  <div>-->
    <app-video-player class="padding-10" [video]="selectedVideo"></app-video-player>
<!--  </div>-->
<!--  <div>-->
    <app-stat-filters></app-stat-filters>
<!--  </div>-->
<!--</div>-->
