<div class="nav">
  Video Statistic Tracker
  <a class="dashboard-nav-link" href="http://localhost:4200/dashboard/">Dashboard</a>
</div>
<div class="grid" *ngIf="videoListData | async as videos">
  <div class="list">
    <app-video-list
      [videoList]="videos ?? []"
      (videoChanged)="handleVideoChanged($event)"
    ></app-video-list>
  </div>
  <div class="padding-10">
    <app-video-player
      [video]="(selectedVideo | async) ?? videos[0]"
    ></app-video-player>
  </div>
  <div class="list">
    <app-stat-filters class="filter-views"></app-stat-filters>
  </div>
</div>
