<div class="nav">
  <a class="text-decoration-none" href="http://localhost:4200/dashboard">Video Statistic Tracker</a>
  <div class="dashboard-nav-link padding-10">
    <a class="text-decoration-none" href="http://localhost:4200/dashboard">Dashboard</a>
    <a class="padding-10 text-decoration-none" href="http://localhost:4200/dashboard">Login</a>
  </div>
</div>
<div class="grid" *ngIf="videoListData | async as videos">
  <div class="list">
    <app-video-list
      [videoList]="videos ?? []"
      (videoChanged)="handleVideoChanged($event)"
    ></app-video-list>
  </div>
  <div class="padding-10">
    <app-video-player
      [video]="(selectedVideo | async) ?? videos[0]"
    ></app-video-player>
  </div>
  <div class="list">
    <app-stat-filters class="filter-views"></app-stat-filters>
  </div>
</div>
