/* You can add global styles to this file, and also import other style files */
@import "@picocss/pico/css/pico.css";

ul il {
  padding: 10px;
  cursor: pointer;
}

.highlighted {
  background: yellow;
}

.fontsize-medium {
  font-size: medium !important;
}

.fontsize-larger {
  font-size: larger !important;
}

.padding-10 {
  padding: 10px;
}

img {
  border-radius: 5px 5px 5px 5px;
}

.list {
  height: 100vh;
  overflow-y: scroll;
}

.text-align-center {
  text-align: center;
}
